.test {
    color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -o-object-fit: contain;
    object-fit: contain;
}

.test__inner {
    background: #000;
}

.header-link {
    position: relative;
    text-decoration: none;
}

.header-link-count {
    background: var(--yellow);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.partners__item a {
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5rem;
    border-radius: var(--big-radius);
    border: 2px solid var(--light-gray);
}
.partners__item img {
    max-height: 100%;
}

.catalog-controls__bottom .empty {
    display: none;
}