.triggers {
  background-color: var(--main);
  padding: 3.5em 0;
}

.trigger {
  $self: &;
  display: flex;
  padding: 1.5em;
  background-color: #ffffff;
  border-radius: var(--big-radius);
  border: 2px solid var(--light-gray);
  transition: transform var(--transition-time) var(--transition-timing-function);
  flex-direction: column;
  text-decoration: none;
  position: relative;

  font-size: 0.9rem;

  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }

  &:hover {
    transform: translate(3px, -3px);
  }

  &_big {
    padding-right: calc(100px + 1.5em);

    #{$self}__icon {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 1em;
      width: 80px;
      margin-bottom: 0;

      @include media-breakpoint-up(md) {
        margin-bottom: 1em;
        width: auto;
      }
    }
  }

  &__icon {
    margin-bottom: 2em;
  }

  &__title {
    font-size: 1.3em;
    margin-bottom: 0.66em;
    font-weight: 700;
    color: var(--base-text-color);
  }

  &__desc {
    max-width: 23em;
    color: var(--muted-text-color);
  }
}
