:root {
  // Colors
  --blue: #2765b9;
  --orange: #ef7c00;
  --red: #e83830;
  --light-gray: #fafafa;
  --gray: #ebebeb;
  --dark-gray: #5c5c5c;
  --black: #000;
  --green: #27ae60;

  --accent: var(--blue);
  --secondary: var(--orange);
  --border-color: var(--gray);

  // Typography
  --base-font-size: 14px;
  --base-line-hight: 1.357;
  --base-text-color: var(--black);

  // Shadows
  --base-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  --large-shadow: 0 4px 32px rgba(0, 0, 0, 0.16);



}
