:root {
  // Colors
  --yellow: #FFDA33;
  --black: #000000;
  --red: #F44336;
  --white: #fff;

  --main: var(--yellow);
  --accent: var(--red);
  --secondary: var(--black);

  // Typography
  --base-font-size: 14px;
  --base-line-hight: 1.357;
  --base-text-color: var(--black);
  --base-font: 'Open Sans', sans-serif;
  --bs-font-sans-serif: var(--base-font);

  // Shadows
  --base-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  --large-shadow: 0 4px 32px rgba(0, 0, 0, 0.16);

  // Border radius
  --base-radius: 3px;

  // Transition
  --transition-time: .3s;

  // Scrollbar
  --scrollbar-color: var(--accent);
  --scrollbar-bg: var(--gray);
  --scrollbar-hover-color: var(--secondary);

  // Gutters
  --base-gutter: 1.5rem;

  // Header
  --main-menu-text-color: var(--dark-gray);
  --main-menu-hover-text-color: var(--accent);
  --header-elements-height: 2.625em;

  // Left menu
  --hover-bg-color: var(--light-blue);
}
