.mobile-filter-wrap {
  font-size: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--base-shadow);
  }

  &__reset {
    color: var(--secondary);
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--black);
    font-size: 1em;
    font-weight: 600;
  }

  &__submit {
    width: 100%;
    margin: 0 10%;
  }

  &__footer {
    position: sticky;
    bottom: 0;
    box-shadow: var(--large-shadow);
    background: #fff;
  }
}
