@import "../../../../../../../profnastil-redesign/src/scss/1-vendors/bootstrap-custom";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.search-form {
  position: relative;
  display: flex;
  margin-bottom: 0;
  height: 100%;

  &__input {
    flex-grow: 1;
    padding-right: 35px;
    border-color: var(--main);
    border-radius: var(--base-radius);
  }

  &__button {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 2px;
    padding: 0 .7em;
    background-color: var(--secondary);
    border-radius: var(--base-radius);
    transition: background-color var(--transition-time);

    @include media-breakpoint-up(xl) {
      right: 4px;
    }

    &:hover {
      background-color: var(--main);
    }

    svg {
      fill: var(--white);
    }
  }

}
